Here is the project information:

<project_name>{{ project_name }}</project_name>
<project_description>{{ project_description }}</project_description>


Here is the related GitHub content data:

<github_content_data>
{{ github_content_data }}
</github_content_data>
