Here is the project information:

<project_name>{{ project_name }}</project_name>
<project_description>{{ project_description }}</project_description>


Here is the related content data:

<content_data>
Content data type:
{{ content_data_type }}

Content data text:
{{ content_data }}
</content_data>
