Please proceed with your analysis and extraction of R&D projects from the provided context.

<title_of_context_to_analyze>
{{ content.title }}
</title_of_context_to_analyze>

<context_to_analyze>
{{ content.text_chunk }}
</context_to_analyze>

<source_content_id>
Source content ID of the context:
{{ content.content_id }}
</source_content_id>
