Research and development projects ARE DEFINED AS research, discovery, and/or systematic investigations that aim to overcome
specific technological challenges through experimentation and/or analysis, resulting in new or improved technical capabilities,
knowledge, products, or processes (broadly speaking).
